@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#timer {
    font-size: 48px;
}

.content-container {
    display: flex;
    border: 1px solid blue;
}

.content-section {
    border: 1px solid green;
    min-height: 100px;
}

#timer-container {
    width: 40%;
}

#todo-container {
    width: 60%;
}

.content-section>div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#timer-select {
    margin-left: 5px;
}

.timer-controls {
    width: 100%;
}

button {
    padding: 10px;
    width: 25%;
}

ul {
    text-decoration: none;
    list-style: none;
}
